<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
    <h1 class="sign-up-header" >Create a new account!</h1>
    <div class="sign-up-container">
    <form class="sign-up-form" action="/auth/sign-up" method="POST">
    <label class="label-sign-up" for="email">Email:</label>
      <input type="text" name="email" id="email" />
      <label class="label-sign-up" for="username">Username:</label>
      <input type="text" name="username" id="username" />
      <label class="label-sign-up" for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <label class="label-sign-up" for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" />
      <button class="btn-sign-up-form" type="submit">Sign up</button>
    </form>
    </div>
  </body>
</html>