<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="sign-in-header">Sign in</h1>
    <div class="sign-in-container"> 
    <form class="sign-in-form" action="/auth/sign-in" method="POST">
        <label class="label-sign-in" for="username">Username:</label>
        <input type="text" name="username" id="username" />
        <label class="label-sign-in" for="password">Password:</label>
        <input type="password" name="password" id="password" />
        <button class="btn-sign-in-form" type="submit">Sign In</button>
    </form>
    </div>

    
</body>
</html>