<!-- Home page ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/style.css">
</head>

<body id="homepageBody">
    <h1 id="homepageH1">Welcome to Portfolio!</h1> 
    <a class="homepage" href="/auth/sign-in">Sign In</a>
  <a class="homepage" href="/auth/sign-up">Sign Up</a>
</body>
</html>